@font-face {
    font-family: 'Citymobil-Beta_v0-4';
    src: url('Citymobil-Beta_v0-4-Normal.woff2') format('woff2'),
        url('Citymobil-Beta_v0-4-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jeko';
    src: url('Jeko-Bold.woff2') format('woff2'),
        url('Jeko-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jeko';
    src: url('Jeko-Medium.woff2') format('woff2'),
        url('Jeko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

